---
---

@import "{{ site.theme }}";

.logo_video {
    max-width: 360px;
    max-height: 240px;
    video {
        max-width: 100%;
        max-height: 100%;
    }
}

.wrapper {
    ul {
        padding-inline-start: 20px;
    }

    img.feature_image {
        width: 240px;
    }

    p:has(img.feature_image) {
        display: inline-block;
        margin-right: 20px;
    }

    p:has(img.feature_image) + ul {
        display: inline-block;
        vertical-align: top;
        min-width: 320px;
    }
}

@media print, screen and (max-width: 960px) {
  header { padding-right: 0px; }
}